<!DOCTYPE html>
<html>
  <head>
    <title>Musubi</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
    <meta name="viewport" content="width=device-width,initial-scale=1"></meta>
  </head>
  <div class="header">
    <div class="header-top">
      <div class="icon-left">
        <img class="menu-icon active-icon" src="/images/menu-icon.png" alt="Menu icon">
        <img class="cancel-icon" src="/images/cancel-icon.png" alt="Cancel icon">
      </div>
      <div class="menu-title">
        <a href="/"></a>
        <div class="musubi-logo">
          <img class="musubi-icon" src="/images/musubi-logo-type-white.png" alt="Musubi logo type white">
        </div>
      </div>
      <div class="icon-right">
        <img class="message-icon" src="/images/message-icon.png" alt="Message icon">
      </div>
    </div>
    <div class="header-menu">
      <ul class="header-menu-list">
        <a href="/users/1">
          <li class="header-menu-item">プロフィール登録・編集</li>
        </a>
        <a target="_blank" href="https://camp-fire.jp/projects/view/55604">
          <li class="header-menu-item">パトロンになる</li>
        </a>
        <a href="/vision">
          <li class="header-menu-item">Musubiの理念</li>
        </a>
        <a target="_blank" href="https://www.facebook.com/groups/144239776233499/?ref=bookmarks">
          <li class="header-menu-item">フィードバックを送る</li>
        </a>
        <a href="/terms">
          <li class="header-menu-item">利用規約</li>
        </a>
        <a href="/privacy">
          <li class="header-menu-item">プライバシーポリシー</li>
        </a>
      </ul>
    </div>
  </div>
  <body>
    <%= yield %>
    <%# <%= debug(params) if Rails.env.development? %>
  </body>
</html>
